body {
    background-color: black;
    color: black;
    background-image: url("../images/background.png");
    background-size: 100%;
    background-repeat: repeat-y;
    margin: 0px;
    padding: 0px;
  }

  h1 {
    text-align: left;
    font-size: 700%;
}
.About  {
    
  }

